﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Futura</title>
    
    <link href="@Url.Content("~/favicon.ico?id=1")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/favicon.ico?id=1")" rel="icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    
</head>
<body>
    <nav id="menu" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* <text class="navbar-brand page-scroll">@Html.ActionLink("HOME", "Start", "Places")</text>*@
                <a href='@Url.Action("Start", "Places")'><img src='@Url.Content("~/Content/img/VSL-logo.png")' /></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" @*id="bs-example-navbar-collapse-1"*@>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Start", "Places")</li>
                </ul>
            </div>
        </div>
    </nav>
    @*<div class="container body-content">*@
    <div>
        @RenderBody()
        <!-- Footer -->
        <div id="footer">
            <div class="container text-center">
                @*<div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>*@
                <div>
                    <p>&copy; @DateTime.Now.Year - Futura. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/nest")
    @RenderSection("scripts", required: false)
</body>
</html>
