﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    border-radius: 5px;
}

    input[type=checkbox] {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

label {
    font-weight: lighter;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
    white-space: normal; /* CSS3 */
    white-space: normal; /* Firefox */
    white-space: normal; /* Opera <7 */
    white-space: normal; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

/*
    Centre Inputput placeholder text
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {  Firefox 18- 
    text-align: center;
}

::-moz-placeholder {  Firefox 19+ 
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}*/

body, html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-size: 17px;
}

    p.intro {
        margin: 12px 0 0;
        line-height: 24px;
    }

a, a:visited, a:active {
    color: #a7c44c;
    font-weight: 400;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #333;
    }

ul, ol {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #a7c44c;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline: none;
        outline-offset: none;
    }
/******************************************************************************
 Navigation
*******************************************************************************/
.navbar {
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    width: 100%;
}

#menu {
    padding: 10px;
    /*transition: all 0.8s;*/
}

    #menu.navbar-default {
        background-color: rgba(51, 51, 51, 0.6);
        border-color: rgba(231, 231, 231, 0);
    }

    #menu a.navbar-brand {
        font-size: 22px;
        color: #eee;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #menu.navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        color: #a7c44c;
        font-weight: 400;
        font-size: 15px;
        padding: 5px 0;
        border: 2px solid transparent;
        letter-spacing: 0.5px;
        margin: 10px 15px 0 15px;
    }

        #menu.navbar-default .navbar-nav > li > a:hover {
            color: #eee;
        }

    #menu a:hover {
        color: #eee;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eee !important;
    background-color: transparent;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a7c44c;
    border-color: #a7c44c;
}

    .navbar-default .navbar-toggle:hover > .icon-bar {
        background-color: #FFF;
    }

.navbar-header img {
    max-height: 50px;
}


    .section-title p {
        font-size: 18px;
    }

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 3px #859c3c;
    background-color: #a7c44c;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 17px;
    border-radius: 12px 0 12px 0;
    margin-top: 20px;
    transition: all 0.5s;
}

    .btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
        color: rgba(255,255,255,0.8);
        background-color: #94ae44;
    }
/******************************************************************************
 Start page 
*******************************************************************************/

.intro h1 {
    color: #fff;
    /*font-size: 56px;*/
    font-size: 52px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0px;
    letter-spacing: -1px;
}

.intro h2 {
    color: #eee;
    font-size: 26px;
    font-weight:normal;
}



.intro p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
}

header .intro-text {
    padding-top: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 100;
    margin-left: 7%;
    margin-right: 7%;
}


header .intro-text-function {
    padding: 25px;
    background-color: rgba(51, 51, 51, 0.6);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px; /*Rounded corners*/
}

#header input {
    font-size: 18pt;
    height: 47px;

}

/*header input[type=text] {
    width: 300px;
}*/

.col-centered {
    margin: 0 auto;
    float: none;
}

/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .item {
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* carousel fullscreen */

.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}


/* carousel fade */
/* original solution by https://codepen.io/Rowno/pen/Afykb */

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.carousel-fade /*.carousel-control*/ {
    z-index: 2;
}


#website-info .section-title {
    padding-top: 50px;
}
#services > div > div.col-md-10.col-md-offset-1.section-title.text-center
/******************************************************************************
 Places and Activities page
*******************************************************************************/
#places, #details {
    padding-bottom: 40px;
    margin-top: -71px;
    background: #eee;
    color: #000;
}


    #places h2, #details h2 {
        color: white;
    }

    #places .col-sm-4.display {
        border-style: solid;
        border-width: 0.05px;
        border-color: rgba(119, 119, 119, 0.2);
        height: 280px;
    }



#places input[type=text] {
    font-size: 18px;
    height: 50px;
    width: 100%;
}


#places .title-header-img {
    background: url("/Content/img/PlacesActivitiesHeader2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

#places .section-title, #details .section-title {
    padding-top: 160px;
}

#places label {
    font-size: 24px;
    margin-right: 30px;
}

#places .row.filter {
    /*font-size: 20px;*/
    margin-bottom: 10px;
}

    #places .nav-pills {
        margin-top: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        background-color: #e3e3e3;
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #a7c44c;
}

.nav-pills {
    border: 1px solid #ddd;
}

#places .row.display a:link, #places .row.display a:visited, #places .row.display a:hover, #places .row.display a:active {
    color: #000;
}

#places .col-sm-4.display:hover {
    background-color: #a7c44c;
}

/* Stops infobox on map from cutting off details*/
#places .Infobox * {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#myMap a {
    color: #000;
}
/******************************************************************************
 Details page
*******************************************************************************/
#details .title-header-img {
    background: url("/Content/img/DetailsHeader2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

#details .dl-horizontal {
    padding-top: 20px;
}

#details .directions {
    width:360px;
}


    /******************************************************************************
 Footer
*******************************************************************************/
#footer {
    background: #333;
    padding: 50px 0 20px 0;
    position: static;
    /*bottom: 0;*/
    width: 100%;
}

    #footer .social {
        margin-bottom: 50px;
    }

        #footer .social ul li {
            display: inline-block;
            margin: 0 20px;
        }

        #footer .social i.fa {
            font-size: 26px;
            padding: 4px;
            color: #a7c44c;
            transition: all 0.3s;
        }

            #footer .social i.fa:hover {
                color: #eee;
            }

    #footer p {
        font-size: 15px;
    }

    #footer a {
        color: #999;
    }

        #footer a:hover {
            color: #a7c44c;
        }


    /* Form Control Section */

    /*label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}*/

    #contact .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #444;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

        #contact .form-control:focus {
            border-color: #999;
            outline: 0;
            -webkit-box-shadow: transparent;
            box-shadow: transparent;
        }

    .form-control::-webkit-input-placeholder {
        color: #777;
    }

    .form-control:-moz-placeholder {
        color: #777;
    }

    .form-control::-moz-placeholder {
        color: #777;
    }

    .form-control:-ms-input-placeholder {
        color: #777;
    }

    header .form-control {
        width: 100px;
        align-self: auto;
    }
