﻿@model IEnumerable<FuturaMod1.Models.Places>

@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="places">
    <div class="title-header-img">
        <div class="section-title text-center">
            <h2>Places and Activities</h2>
            <hr />
        </div>
    </div>

    <div class="container">
        @*<div class="row filter">*@
        @*<div class="col-sm-12">*@
        <h3>Browse places of interest in VIC @ViewBag.ShowPost</h3>
        <br />
        @*</div>*@
        <p>Step 1: (optional), would you like to search?</p>
        <div class="col-sm-12 row filter">
            <div class="col-sm-6">
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        <input type="text" id="postcode" name="postString" value="@ViewBag.ShowPost" hidden="hidden" />@*<input type="submit" value="Change" /></p>*@
                        @*<p>Search: <input type="text" id="search" name="searchString" value="@ViewBag.ShowName" /><input type="submit" value="Search" /></p>*@
                        <input type="text" id="search" name="searchString" value="@ViewBag.ShowName" placeholder="E.g 'Park', 'Swanston Street', 'Pool'..." />

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                }
            </div>
            <div class="col-sm-6">
                <p class="wrong-postcode">
                    @Html.ActionLink("Wrong Postcode?", "Start")
                </p>
            </div>
        </div>

        @*</div>*@
        <br />
        <p>Step 2: do you prefer map or list?</p>
        <ul class="nav nav-pills nav-justified">
            <li class="active pill-filter">
                <a data-toggle="pill" href="#map">Map</a>
            </li>
            <li class="pill-search">
                <a data-toggle="pill" href="#list">List</a>
            </li>
        </ul>

        <p style="color:red">@ViewBag.Err</p>

        <div class="tab-content">
            <div id="map" class="tab-pane fade in active">
                <p>Step 3: click a pushpin for more info, then click "get details" for navigation</p>
                @*-------------------------------------------- MAP STARTS HERE --------------------------------------------------*@
                @* look here: https://www.bing.com/api/maps/sdkrelease/mapcontrol/isdk   *@

                <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=combineFunc" async defer></script>
                <script type="text/javascript">

            var map;
            function LoadMap() {

                    map = new Microsoft.Maps.Map(
                        document.getElementById('myMap'), { credentials: "Aj5RlaeIRpue33oxwYrCJ_Lkvh5I20y8NfP3ItC3RwRZ-hnqlZ2mBChAgWNLIwtM" });
                }


                function addMarker(latitude, longitude, title, address, id, iconName) {
                    center = new Microsoft.Maps.Location(latitude, longitude);
                    var url = 'details/' + id;
                    var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { icon: '/Content/img/' + iconName});
                    var infobox = new Microsoft.Maps.Infobox(center, {
                        title: title,
                        description: address,
                        actions: [{
                            label: 'Get Details', eventHandler: function () { window.location.href = url; }
                        }],
                        visible: false,
                        showPointer: false,
                        //closeDelayTime: 500,
                        maxHeight: 888
                    });
                    var infoboxOptions = {
                        width: 200,
                        height: 300, showCloseButton: true,
                        zIndex: 0, offset: new
                            Microsoft.Maps.Point(10, 0),
                        showPointer: true,

                    };
                    infobox.setMap(map);
                    Microsoft.Maps.Events.addHandler(pushpin, 'click', function (args) {
                        infobox.setOptions({
                            visible: true
                        });
                    });
                    Microsoft.Maps.Events.addHandler(pushpin, 'mouseover', function (args) {
                        infobox.setOptions({
                            visible: true
                        });
                    });
                    Microsoft.Maps.Events.addHandler(pushpin, 'mouseout', function (args) {
                        infobox.setOptions({
                            visible: false
                        });
                    });
                    map.entities.push(pushpin);
                }

            function nexStep() {
                var locs = [];

                @foreach (var item in Model) {
                    var iconName = "";
                    switch (item.PlaceType){
                        case "Aged Care Centre" :
                            iconName = "agedCareIcon.png";
                            break;
                        case "Art Space" :
                            iconName = "artIcon.png";
                            break;
                        case "Club":
                            iconName = "clubIcon.png";
                            break;
                        case "Cooking":
                            iconName = "cookingIcon.png";
                            break;
                        case "Garden" :
                            iconName = "gardenIcon.png";
                            break;
                        case "Park":
                            iconName = "parkIcon.png";
                            break;
                        case "Relaxation":
                            iconName = "relaxationIcon.png";
                            break;
                        case "Swimming Pool" :
                            iconName = "poolIcon.png";
                            break;
                        default:
                            iconName = "";
                            break;
                    }

                    @:addMarker(@item.Latitude, @item.Longitude, '@item.Name', '@item.Address', @item.Id, '@iconName');
                    @:locs.push(new Microsoft.Maps.Location(@item.Latitude, @item.Longitude));
                }

                var bounds = Microsoft.Maps.LocationRect.fromLocations(locs);

                map.setView({ bounds: bounds, padding: 40 });
            }

            function combineFunc() {
                LoadMap();
                nexStep();
            }

                </script>

                <div id="myMap" style="position:relative; width:100%; height:600px;" onload="combineFunc()"></div>
                @*-------------------------------------------------MAP ENDS HERE-------------------------------------------------*@
            </div>
            <div id="list" class="tab-pane fade">
                <p>Step 3: where do you want to go?</p>
                <div class="row display">


                    @foreach (var item in Model)
                    {
                        <a href="@Url.Action("Details", "Places", new { id = item.Id })">
                            <div class="col-sm-4 display">
                                <div class="caption">
                                    <h3>@item.Name</h3>
                                    <p>@item.Address, @item.Suburb</p>
                                    <p>@item.Postcode</p>
                                    <p>@item.PlaceType</p>

                                </div>
                            </div>
                        </a>


                    }

                </div>
            </div>
        </div>
    </div>
</div>
