﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header">
    <div class="intro">
        <!-- fullscreen -->
        <div id="carousel" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url('/Content/img/intro-bg1.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg2.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg3.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg4.jpg');">
                    <div class="overlay"></div>

                </div>
                <div class="item" style="background-image: url('/Content/img/intro-bg5.jpg');">
                    <div class="overlay"></div>

                </div>
            </div>

        </div>

        <div class="intro-text">
            <div class="intro-text-function">
                <h1>VIC Senior Life</h1>
                <p>You are not alone</p>

                <p>Find senior friendly places of interest in your neighbourhood.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">

                        <div class="input-group col-centered col-lg-8">
                            <input class="form-control" type="text" name="postCode" placeholder="Enter VIC Postcode  e.g. 3000" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <h3 style="color: red">
                        Invalid postcode, please try again
                        <br />
                        Or<a href="http://auspost.com.au/postcode/"> click here </a> to check your postcode
                    </h3>
                }
                @*<div style="text-align: center; vertical-align: middle; font-family: Verdana; color: Blue; position: absolute; top: 50%; left: 50%; margin-left: -88px; font-size: small;" id="dvProgress" runat="server">
                        Please Wait ...<img src="images/load.gif" style="vertical-align: middle" alt="Processing" />
                    </div>*@

                @*$(document).ready(function()
                    {
                    $("div[id$=dvProgress]").fadeOut("fast");
                    }*@
            </div>
        </div>

    </div>
</header>

<!-- Website Info Section -->
<div id="website-info">
    <div class="container">
        @*<div class="col-md-10 col-md-offset-1 section-title text-center">*@
        <div class="section-title text-center">
            <h2>What is VIC Senior Life?</h2>
            <hr />
        </div>
        <p>
            VIC Senior Life (VSL) is a website aimed at helping lonely senior Victorians to get rid of their solitude.
        </p>
        <p>
            In Victoria, senior people make up over 15% of the population and 1 in 10 Victorians
            over the age of 60 have suffered chronic loneliness (Department of Health and Human
            Services, 2018). VSL aims to solve this problem by providing a platform for carers of elder Victorians
            to find different social activities, places, communities and other areas of interest in the neighborhood. By socialising with peers,
            the sense of loneliness is likely to be reduced.
        </p>
        <br />
        @*</div>*@
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="~/Content/img/header-connect.png" class="img-responsive center-block">
                <div class="text-center">
                    <h3>Connect</h3>
                </div>
                <p>Help elders connect with other elders by finding suitable communities within your community</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="~/Content/img/header-explore.png" class="img-responsive center-block">
                <div class="text-center">
                    <h3>Explore</h3>
                </div>
                <p>Stimulate elders and satisfy curiosity by finding new places to explore</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="~/Content/img/header-enjoy-life.png" class="img-responsive center-block">
                <div class="text-center">
                    <h3>Enjoy Life</h3>
                </div>
                <p>Find parks, gardens and other interesting areas will help elders to enjoy life</p>
            </div>
        </div>
    </div>
</div>